[submodule "mspm0_driverlib"]
	path = mspm0_driverlib
	url = https://github.com/TexasInstruments/mspm0-sdk

[submodule "ArduinoCore-API"]
	path = ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API
[submodule "mspm0-sdk"]
	path = mspm0-sdk
	url = https://github.com/TexasInstruments/mspm0-sdk
